* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: bold-norse;
    src: url(./norse/Norsebold.otf);
}

body {
    display: flex;
    justify-content: center;
    background-color: #0D0D0D;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #0D0D0D80;
    width: 460px;
    height: 150px;
    top: 200px;
}

#odin-logo {
    width: 90px;
}

h1 {
    font-family: bold-norse;
    font-size: 90px;
    color: white;
}

.reference {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 460px;
    height: 40px;
    bottom: 0px;
    color: white;
    font-size: 12px;
}

.reference a {
    color: white;
}

#plant-img {
    display: block;
    height: 100vh;
    width: 460px;
    object-fit: cover;
}

.main-container {
    display: flex;
    height: 100vh;
}

.intro-text {
    background-color: #F9F7F5;
    padding: 140px 120px 40px 40px;
}

.form-container {
    width: 800px;
    background-color: #FBFBFB;
}

.intro-text p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.form {
    padding: 20px 0px 20px 40px;
}

.form p {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

td {
    padding: 10px 50px 10px 0px;
}

label {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

input {
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: #D3D3D3 solid 1px;
}

input:focus {
    outline: none;
    border: solid 1px rgb(64, 64, 250);
    box-shadow: 3px 3px rgb(224, 224, 224);
}

input:user-invalid {
    outline: none;
    border: solid 1px rgb(250, 68, 68);
    box-shadow: 3px 3px rgb(224, 224, 224);
}

.line-break hr {
    border: none;
    height: 10px;
    background-image: linear-gradient(#e0e0e0be, #e0e0e083, #e0e0e000);
}

.create-account {
    background-color: #F9F7F5;
    padding: 20px 0px 0px 40px;
    height: calc(100vh - 589px);
}

button {
    background-color: #596D48;
    color: #FBFCFD;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 50px 12px 50px;
    margin: 0px 10px 30px 0px;
    border-radius: 8px;
    border: 0;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}